<h1>Acerca de mi</h1>
<p>Con mas de 15 anios de experiencia como desarrollador en un numero de empresas me percate que el proceso
de creacion tipico entre clientes y desarrolladores tiene sus fallas. Muy frecuentemente los desarrolladores
se comunican con los clientes atraves de la etapa del desarrollo, resultando en un producto final que no logra llegar a la meta prevista por el cliente y el usuario final.</p>
<p>For esta razon decidi utilizar un patron de desarrollo distinto que se enfoca primordialmente en la comunicacion y patrones de disenio transparentes. Cuando tomo un proyecto no solo trabajo para crear la aplicacion de acuerdo a las especificaciones del cliente, realizo actualizacion diariamente para asegurarme que el proyecto esta alineado con el objetivo del cliente. El resultado final es el producto correcto, entregado a tiempo y con el presupuesto acordado.</p>
