<h1>Pages#contact</h1>

<p><%= number_to_phone "6143636092" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "340923409834258524" %></p>
