  <main role="main" class="inner cover">
    <h1 class="cover-heading">Bienvenido.</h1>
    <p class="lead">El desarrollo de software no debe ser un proceso secreto, cuando realizo un nuevo proyecto me pongo de objetivo no solo entregar un buen producto terminado sino tambien me aseguro
    de que cada etapa del proceso sea completamente comunicada.</p>
    <p class="lead">
    	<%= link_to "About Me", about_me_path, class:"btn btn-lg btn-secondary" %>
    </p>
  </main>

